






.login{
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 70vh;
  margin: 15vh 35vw;
  border-radius: 5vh;
  position: absolute;
  border: 0.1vh solid black;
}

.loginContent{
  width: 30vw;
  height: 30vh;
  margin: 22vh 0vw;
  padding-left: 3vw;
  position: absolute;
  font-size: 2vw;
}

.loginLogo{
  background-image: url('./contenido/logo.jpg');
  /* box-shadow: 0vh 0vh 1vw 1vh rgba(7, 7, 7, 0.356); */
  border-radius: 50%;
  margin: 3vh 10vw;
  width: 10vw;
  height: 19vh;
  background-size: 100%;
  background-repeat:no-repeat;
  transform: rotate(-10deg);
  position: absolute;
}

.loginBotones{
  width: 30vw;
  height: 20vh;
  position: absolute;
  margin: 50vh 0vw;
}



.loginSubtitulo{
  font-size: 1.5vw;
  text-align: left;
}

.menu{
  width: 100vw;
  height: 8.5vh;
  color: black;
  font-size: 1.5vw;
  background-color: rgba(247, 182, 225, 0.829);
  padding: 0vh 23vw;
} 

.registro{
  background-color: rgb(255, 255, 255);
  width: 70vw;
  height: 70vh;
  margin: 15vh 8vw;
  border-radius: 5vh;
  position: absolute;
  border: 0.1vh solid black;
  padding: 4vh 0vw 0vh 10vw;
}

.servicios{
  margin: 10vh 13vw;
  background-color: rgba(243, 197, 235, 0.747);
  width: max-content;
  height: max-content;
  position: absolute;
  border-radius: 20px;
  border: 1px solid rgba(70, 62, 62, 0.13);
  padding: 5vh 2vw 0vh 2vw;
}